<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 
 <!-- bellow bean called bean -->
 
 <bean class="com.springTest.Car" name="car1">
 	<property name="carId">
 	<value>121</value>	</property>
 	<property name="carName"><value>Harrier</value></property>
 	<property name="carColor"><value>Matt Black</value></property>
 
 </bean>
 
 </beans>